label, input {
  display: block;
}

.title {
  text-align: center;
  width: 200px;
}

.btn-group {
  margin: 0 auto;
  width: 100%;
  display: inline-block;
}

#toHomeBtn {
  float: left;
}
 #logoutBtn {
  float: right;
}

#saveBookmark {
  float: right;
  margin: 10px;
}

#bookmarkTitle, #bookmarkType, #bookmarkUrl {
  margin: 5px;
  width: 180px;
}
