label, input {
  display: block;
}

.title {
  width: 200px;
}

.btn-group {
  margin: 0 auto;
  width: 100%;
  display: inline-block;
}

#toHomeBtn {
  float: left;
}
 #logoutBtn {
   float: right;
 }
